@charset "utf-8";
/* CSS Document */


/*General CSS*/

.settings-tabs .float-right{
    float: right;
}

.settings-tabs .float-left{
    float: right;
}

.settings-tabs .float-none{
    float: right;
}



/* Collapsible */

.settings-tabs .collapsible{
    margin-bottom: 2px;
}
.settings-tabs .collapsible .header{
    background: #eee;
    padding: 8px 10px;
}

.settings-tabs .collapsible .header span{
    display: inline-block;
    vertical-align: middle;
}

.settings-tabs .collapsible .content{
    display: none;
    padding: 10px;
    background: #f1f1f1;
}


.settings-tabs .collapsible.active .content{
    display: block;
}







.settings-tabs{
    background: #fff;
}

.settings-tabs.vertical{
    position: relative;
}
.settings-tabs .tab-navs{
    float: left;
    margin: 0;
    padding: 0;
    position: sticky;
    top: 32px;
}
.settings-tabs .tab-nav{
    width: 200px;
    padding: 12px 10px;
    background: #f1f1f1;
    margin: 0;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    font-size: 13px;
}

.settings-tabs .tab-nav.active{
    background:#f1f1f159;
}

.settings-tabs .tab-content{
    margin-left: 220px;
    padding: 0;
    background: #f1f1f159;
    display: none;
}

.settings-tabs .tab-content.active{
    display: block;
}



/*horizontal*/

.settings-tabs.horizontal{

}

.settings-tabs.horizontal .tab-navs{
    float: none;
    position: relative;
    top: 0;
}

.settings-tabs.horizontal .tab-navs .tab-nav{
    display: inline-block;
    float: left;
    width: auto;
    border-right: 1px solid #ddd;
}

.settings-tabs.horizontal .tab-navs .tab-nav:last-child{
    border-right: 1px solid rgba(0,0,0,0);
}


.settings-tabs.horizontal .tab-content{
    margin-left: 0;
    clear: both;
}
















.settings-tabs .section{
    margin: 0;
    padding: 15px 0;
}
.settings-tabs .section-title{
    padding: 0 15px;
    font-size: 16px;
    font-weight: 600;
}

.settings-tabs .section-description{
    padding: 0 15px;
    margin-bottom: 25px;
}



.settings-tabs .setting-field{
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding: 0 15px 15px 15px;
}
.settings-tabs .setting-field:last-child{
    border-bottom: 1px solid #eee0;
}



.settings-tabs .setting-field .field-lable{
    width: 270px;
    float: left;
    font-size: 14px;
    word-break: break-word;
}
.settings-tabs .setting-field .field-input{
    margin-left: 270px;
}
.settings-tabs .setting-field .description{
    word-break: break-word;
}




/*field-repeatable-wrapper*/


.ppof-settings .repeatable .item-wrap{
    margin-bottom: 5px;
    padding-bottom: 0px;
}


.field-repeatable-wrapper .field-list{
    margin-top: 18px;
}
.field-repeatable-wrapper .button{

}





/*input*/

.settings-tabs input[type="text"], .settings-tabs textarea, .settings-tabs select, .settings-tabs input[type="range"]{
    width: 360px;
    background: #f1f1f1;
}


@media (max-width: 1170px){
    .settings-tabs input[type="text"], .settings-tabs textarea, .settings-tabs select, .settings-tabs input[type="range"], .settings-tabs .select2{
        width: 100% !important;

    }
}


@media (max-width: 1440px){

    .settings-tabs .setting-field .field-lable{
        width: auto;
        float: none;
        font-size: 14px;
    }
    .settings-tabs .setting-field .field-input{
        margin-left: 0px;
    }
    .settings-tabs .setting-field .description{}

}

@media (max-width: 1700px){

    .settings-tabs .setting-field .setting-field .field-lable{
        width: auto;
        float: none;
        font-size: 14px;
    }
    .settings-tabs .setting-field .setting-field .field-input{
        margin-left: 0px;
    }


}




/*expandable*/


.settings-tabs .expandable{}
.settings-tabs .expandable .item {

    margin: 1px 0;

}


.settings-tabs .expandable .header label{

}



.settings-tabs .expandable .header {
    background: #eee none repeat scroll 0 0;

}


.settings-tabs .expandable {

}

.settings-tabs .expandable .options {
    background: #bde6fc;
    display: none;
    padding: 10px;
}



.settings-tabs .expandable .options {
    background:#f1f1f1;
    display: none;
    padding: 10px;
}


.settings-tabs .expandable .item.ui-sortable-helper {
    border: 1px dashed rgb(153, 153, 153);
}



.settings-tabs .expandable .header {
    padding: 5px;

}

.settings-tabs .expandable .active .options {

    display: block;

}

.settings-tabs .item .expand .fa-expand {
    display: inline-block;
}

.settings-tabs .item .expand .fa-compress {
    display: none;
}
.settings-tabs .item.active .expand .fa-compress {
    display: inline-block;
}
.settings-tabs .item.active .expand .fa-expand {
    display: none;
}



.settings-tabs .expandable .item .move {
    display: inline-block;
    padding: 5px;
    cursor: move;
}

.settings-tabs .expandable .item .expand {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}

.settings-tabs .expandable .remove {
    background: rgb(228, 65, 8) none repeat scroll 0 0;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-right: 10px;
    padding: 2px 7px;
    border-radius: 3px;
}


.settings-tabs .pro-feature{
    background: #ffd87f;
    padding: 0 5px;
}



/*3rd Party*/

.settings-tabs .field-input .CodeMirror{
    background: #f1f1f1;
}