/*
Admin css
*/

#post_grid_metabox, #post_grid_post_settings {
  background: #f1f1f1 none repeat scroll 0 0;
  border: medium none;
  box-shadow: none;
}

#post_grid_metabox .hndle, #post_grid_post_settings .hndle {
  background: #3f51b5;
  color: rgb(255, 255, 255);
}

#post_grid_metabox .handlediv, #post_grid_post_settings .handlediv{
  color: rgb(255, 255, 255);
}




#post_grid_metabox .skin-list{
  text-align: center;
}

#post_grid_metabox .skin-list .skin-container {
  display: inline-block;
  margin: 10px;
  width: 310px;
  overflow: hidden;
  vertical-align: top;
  background: rgba(0, 0, 0, 0) url("../images/tile.png") repeat scroll 0 0;
  padding: 15px;
}

#post_grid_metabox .skin-list .skin-container .header {
  background: rgb(252, 110, 60) none repeat scroll 0 0;
  padding: 3px 10px;
  text-align: left;
}

#post_grid_metabox .skin-list .skin-container .header.selected {
  background: rgb(58, 212, 127) none repeat scroll 0 0;
}

#post_grid_metabox .skin-list .edit-link {
  float: right;
}

#post_grid_metabox .skin-list .edit-link a{
  color: #fff;
  text-decoration: none;
}





#post_grid_metabox .skin-list .skin-container label {
  color: rgb(255, 255, 255);

}




#post_grid_metabox .skin-list .skin {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;

}






#post_grid_metabox .skin-list .skin .thumb img {
  height: auto;
  width: 100%;
}

#post_grid_metabox .skin-list .skin .title {
  font-size: 16px;
  line-height: normal;
  padding: 5px 0;
}

#post_grid_metabox .skin-list .skin .content {
  font-size: 13px;
  line-height: normal;
  padding: 5px 0;
}


#post_grid_metabox .skin-list .layer-content > div {
  padding: 5px 15px !important;
}









#post_grid_metabox .layout-list{

}

#post_grid_metabox .layout-list .idle, #post_grid_metabox .layout-list .hover {
  background: rgba(0, 0, 0, 0) url("../images/tile.png") repeat scroll 0 0;
  display: inline-block;
  height: auto;
  margin: 0 10px;
  vertical-align: top;
  width: 400px;
}

#post_grid_metabox .layout-list .idle{}
#post_grid_metabox .layout-list .hover {
  display: none;
}

#post_grid_metabox .layout-list .idle .name, #post_grid_metabox .layout-list .hover .name {
  background: rgb(240, 240, 240) none repeat scroll 0 0;
  border-bottom: 1px solid rgb(153, 153, 153);
  font-size: 20px;
  line-height: normal;
  padding: 5px 0;
  text-align: center;
}

#post_grid_metabox .layout-list .idle .name .edit-layout {
  background: #ddd none repeat scroll 0 0;
  padding: 2px 10px;
  text-decoration: none;
}


#post_grid_metabox .bg_image_src {
  border: 1px solid rgb(221, 221, 221);
  cursor: pointer;
  height: 50px;
  margin: 5px;
  vertical-align: top;
  width: 50px;
}

#post_grid_metabox .lazy_load_image {
  border: 1px solid rgb(221, 221, 221);
  cursor: pointer;
  margin: 5px;
  padding: 10px;
  vertical-align: top;
}








#post_grid_metabox .media-source-list{}

#post_grid_metabox .media-source-list .items{}

#post_grid_metabox .media-source-list .items .move {
	background: #ddd;
	padding: 1px 5px;
	margin-right: 10px;
	cursor: move;
}




.post-grid-settings .layout-list{}
.post-grid-settings .layout-list li {
  background: #eeeeee none repeat scroll 0 0;
  padding: 6px 10px;
}


