/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-roomblock  {
  background: $red;
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}


.wp-block { // This may need to be .wp-block in WordPress 5+
    
  .container {
    border: 1px solid $gray;
    padding: 1rem;
  }

  .container-flex
  {
    display:flex;
  }

  
 .container-flex > div.components-toggle-control {
  width: 10rem;
  flex:0 0 auto;
  }
 .container-flex > div.components-toggle-control > * {
    margin-top:0.2rem
  }
 .container-flex > textarea.editor-plain-text  {
    width:10rem;
    margin-bottom:10px;;
  }




  .button-container {
    text-align: center;
    padding: 22% 0;
    background: $off-white;
    border: 1px solid $gray;
    border-radius: 2px;
    margin: 0 0 1.2rem 0;
  }

  .heading {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .image {
    height: 15.7rem;
    width: 100%;
    object-fit: cover;
  }


}
.cardRoomImageClick {
  min-width: 20rem;
  max-width: 20rem;
  height: 20rem;
  /* top: 1rem; */
  /* padding-top: 1rem; */
  }

  .cardRoomImageClick::before {
    content: "Click to see more!";
    color: green;
    position: absolute;
    margin-top: 10rem;
    margin-left: 2rem;
    font-size: 1.75rem;
    text-shadow: 0px 0px 1rem white, 0 0 0.2em white, 0 0 0.2em white;
    font-weight: bold;
    cursor: pointer; }
  
  .cardRoomImageClick:hover::before {
    display: none; }
  
.cardRoomImageClick img {
  max-width: 100%;
  max-height: 100%;
  width: 20rem;
  height: 25rem;
  object-fit: cover;
  padding: 1rem;
  }

.cardRoomImageClick img:hover {
  cursor:pointer;
  transition: transform  .2s; /* Animation */

  transform: scale(1.05);
  filter:brightness(1.2);
}

.wp-block-card-block-main.card {
  background-color: transparent;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 1rem;
  -ms-flex-pack: center;
      justify-content: center; }

.wp-block-card-block-main.card .card__body
{
  font-size: 1.25rem;
}

.SellRent {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0rem 1rem;
  text-align: left;
  font-size: 1.25rem; }

.SellRent > div:nth-of-type(2) {
  color: red;
  text-align: right; }

.SellRent > div:nth-of-type(5) {
  color: red;
  text-align: right; }

.wp-block-card-block-main.card .card__content {
  margin: 1rem;
  width: 21rem;
}

.card__detail {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 1.0rem;
  text-align: left;
  margin-bottom: 1rem;
  border: solid 1px rgba(0, 0, 0, 0.125); }

.card__detail > div {
  background-color: rgba(0, 0, 0, 0.125);
  border: solid 1px rgba(0, 0, 0, 0.125);
  padding-left: 0.5rem; }

.card__detail > div:nth-child(2n) {
  background-color: unset; }


.card__size::after
{
  content: " sqm";

}