.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--linkedin {
  background-color: #0077b5;
  border-color: #0077b5;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  background-color: #046293;
  border-color: #046293;
}

.resp-sharing-button--whatsapp {
  background-color: #25D366;
  border-color: #25D366;
}

.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
  background-color: #1DA851;
  border-color: #1DA851;
}


.test
{
    background-color:red;
}

#primary.content-area.customWidth
{
    flex: 0 0 100%;
    max-width:100%;
}

#page-sub-header
{
    height:300px;
}

#page-sub-header .container
{

    width:400px;
    background-color:#ffffff99

}


.myflex
{
 display:flex;
 width:100%;
 justify-content:space-around;
 flex-wrap: wrap;
}

.myflex > div > img
{
  width: 300px;
}

.myflex > div 
{
  padding:10px;
  padding-bottom:30px;
  max-width: 300px;
}

.myflex span
{
  font-size: 1.25rem;
}


#headerSceneGroup .scene {
	position: absolute;
	transform: translateY(var(--translateY));
  will-change: transform;
  width:100%;
}

.sceneText
{
  background-color: #343a4082;
  padding-top: 20;
  margin-top: 15px;
  margin-right: 15px;
  right: 0px;
  color: white;
  padding: 20px;
  text-align: center;
}

#headerSceneGroup .scene.sceneText
{
  width:unset;
}

#page-sub-header-after
{
  background: #f7f7f7;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 0;
  text-align: center;
  font-size: 1.25rem;
  background-size: cover !important;
  background-color:#f2f2f2;
}

.sub-sub-header-after
{
  margin-top:2rem;
}

ul.navbar-nav > li > a.nav-link
{
  font-size:1.0rem
}

div.navbar-brand > a.site-title
{
  font-size:1.2rem;
}

.animatingSVG
{
  width:4rem;
  
}

.hideTitle .entry-header > .entry-title
{
  display:none;
}

.map
{
  margin-left:3rem;
  margin-right:3rem;
  margin-bottom:3rem;

  height:35rem;
  border:  solid white;
}

.map.postmap
{
  margin-left:3rem;
  margin-right:3rem;
  margin-bottom:3rem;

  height:35rem;
  border:  solid white;
}

.Mappage .map
{
  margin-left:0rem;
  margin-right:0rem;
  margin-bottom:3rem;

  height:95vh;
  border:  solid white;
}

@media only screen and (min-width: 1300px) {
  .map
  {
    margin-left: -5rem;
    margin-right: -5rem;
    margin-bottom:3rem;
  
    height:55rem;
    border:  solid white;
  }
}

@media only screen and (min-width: 1600px) {
  .map
  {
    margin-left: -15rem;
    margin-right: -15rem;
    margin-bottom:3rem;
  
    height:55rem;
    border:  solid white;
  }
}

@media only screen and (min-width: 1300px) {
  .Mappage .map
  {
    margin-left: -5rem;
    margin-right: -5rem;
    margin-bottom:3rem;
  
    height:55rem;
    border:  solid white;
  }
}

@media only screen and (min-width: 1600px) {
  .Mappage .map
  {
    margin-left: -15rem;
    margin-right: -15rem;
    margin-bottom:3rem;
  
    height:55rem;
    border:  solid white;
  }
}


.map .ol-overlaycontainer
{
  padding:2rem;
}

nav.navbar.navbar-expand-xl.p-0 > a:first-of-type 
{
  display: flex;
}

nav.navbar.navbar-expand-xl.p-0 > a:first-of-type > *
{
  margin-top:auto;
  margin-bottom:auto;
}

nav.navbar.navbar-expand-xl.p-0 .navbar-brand > a > img
{
  width: 19rem;
  filter: brightness(0.76);
}

header#masthead
{
  padding:0px !important; 
}

button.navbar-toggler:not(:disabled):not(.disabled)
{
  margin: 1rem;
}


#FeatureProject > .nav.nav-pills
{
  margin-top:1rem;
  display: flex;
  flex-flow: row;
  justify-content: center;
}


#FeatureProject > .nav.nav-pills  *
{
  font-size:1.5rem;
  color:darkgreen;
  
}


#FeatureProject > .nav.nav-pills > li > a.active
{
   border: 0rem;
   border-bottom: 0.2rem solid yellowgreen;
   background-color:inherit;
   border-radius: 0px;
}


#FeatureProject .post-grid.grid 
{
  background-color:inherit;
  border-radius: 20px;
}

#FeatureProject .post-grid.grid .item
{
  background-color:inherit;
}

.entry-content h2
{
  text-align: center;
}

.entry-content h3
{
  text-align: center;
}



article div.post-thumbnail
{
  display:flex;
}

article div.post-thumbnail > img
{
  margin:auto;
}

article .entry-header
{
  display: flex;
  flex-flow: column;
}
article .entry-header > *
{
  margin:auto;
}


.flexFoot
{
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  margin: auto;
  padding:5rem;
  padding-top:2rem;
  padding-bottom:2rem;
  max-width: 1130px;
}

.flexFoot > div
{
  margin-top:20px;
  min-width:17rem;
  flex: 1 1 0
}

.flexFoot
{

  color:white;
  word-break: break-word;
  word-wrap:break-word;
}

.flexFoot h3
{
  font-size: 1.25rem;

}

.flexFoot a
{
  color:#5cf7e8;
  line-height: 2.0rem;
  font-size: 1.2rem;

}

.flexFoot .flex-table .table
{
  display:grid;
  grid-template-columns: auto auto;
}




.dropdown-menu.show a.dropdown-item
{
  
  padding:0.7rem
}
